<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Link Checker</title>
</head>
<body>
    Check Your Link Here!:
    <form action="/check-link" method="post" id="form">
        <input name="url" placeholder="Enter your link here" id="url" /> <br />
        <button type="button" onclick="checkValidLink()">Check it please!</button>
    </form>

    <script>
        function isValidURL(url) {
            const pattern = new RegExp(
                /^(https?:\/\/)?([a-z\d]+([a-z\d-]*[a-z\d])*\.)+[a-z]{2,}(\/[-a-z\d%_.~+]*)*(\?[;&a-z\d%_.~+=-]*)?(\#[-a-z\d_]*)?$/i
            );
            return pattern.test(url);
        }

        const checkValidLink = () => {
            const input = document.getElementById('url');
            if (!isValidURL(url.value)) {
                alert('Not a valid url!');
                return;
            }

            document.querySelector("#form").submit();
        }
    </script>
</body>
</html>