<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    Here's the result: <br />
    <img src="<%= screenshotPath %>" alt="result" /> <br />
    <a href="/">Check another link</a>
</body>
</html>